{% extends "layout.html" %}
{% block content %}
  
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="display-3">
                A Flask based Notes/To-do App 
            </h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                To try this app <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>
            </div>             
        </div>
    </div>
</div>
<p class="lead text-center">
    <i>This is a demo app made for practice & also as an assignment for Innomatics Research Labs </i>
</p>
{% endblock %}